@tailwind base;
@tailwind components;
@tailwind utilities;

body {
<<<<<<< HEAD
  background-color: #F5F5F5;
=======
  background-color: black;
>>>>>>> 33e68cd (commit at 1.27 pm)
  color: white;
  font-family: 'Arial, sans-serif';
}